#home, #contact{
    background-image: url(../assets/89633.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

.header {
    font-size: 1.75vw;
    background-color: rgba(204, 204, 250, 0.623);
    border-radius: 1.5vw;
 }
a{
    font-weight: 900;
}
.icon{
    width: 1.7vw;
}

.icon-interno{
    width: 1vw;
}

li.nav-item {
    margin: 1vw 1vw;
}

.estilo-bienvenida{
    margin: 1vw 0vw 1.5vw 0vw;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px cadetblue;
    font-size: 4vw;
    text-decoration: underline;
}

.estilo-informacion{
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px cadetblue;
    font-size: 2vw;
}

.logo {
    width: 6vw;
}
.text-logo {
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px cadetblue;
}

.dibujo-franco{
    width: 30vw;
}

.row{
    margin: 3vw 0vw 0vw 0vw;
}

iframe{
    border-radius: 4vw;
    width: 25vw;
    height: 15vw;
}

.estilo-form{
    margin: 2vw 10vw;
}

.card{
    margin: 1vw 1vw;
    border-radius: 1.5vw;
    border: 1px solid black;
    font-size: 1.5vw;
}

.ultimos-stock{
    position: absolute;
    width: 19vw ;

}

article.col-4,div.col-4{
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 2vw;
}

div.form-group{
    background-color: rgba(202, 241, 241, 0.514);
    border-radius: 1.5vw;
    font-weight: 900;
}

#Juguetes{
    background-image: url(../assets/jugueteria.jpg);
}
#medicamentos{
    background-image: url(../assets/med2.jpg);
}

footer{
    background-color: rgba(0, 0, 0, 0.473);
}
a{
    color: black;
}
a p {
    margin: 0vw;
}
footer p.text-center{
    background-color: rgba(0, 0, 0, 0.411);
    color: aliceblue;
    margin: 0vw;
}
.redes{
    width: 2.5vw;
    margin: 0vw 2vw;
}