body{
    background-image: url(../assets/89633.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

.header {
    font-size: 1.75vw;
    background-color: rgba(217, 217, 250, 0.356);
 }

.icon{
    width: 1.7vw;
}

.icon-interno{
    width: 1vw;
}

li.nav-item {
    margin: 1vw 1vw;
}

.estilo-bienvenida{
    margin: 2,5vw 0vw;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px cadetblue;
    font-size: 4vw;
}

.estilo-informacion{
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px cadetblue;
    font-size: 2vw;
}

.logo {
    width: 6vw;
}
.text-logo {
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px cadetblue;
}

.dibujo-franco{
    width: 30vw;
}

.row{
    margin: 3vw 0vw 0vw 0vw;
}

iframe{
    border-radius: 4vw;
    width: 25vw;
    height: 15vw;
}

.estilo-form{
    margin: 2vw 10vw;
}

.card{
    margin: 1vw 1vw;
    border-radius: 2vw;
    border: 1px solid black;
    font-size: 1.5vw;
}

.ultimos-stock{
    position: absolute;
    width: 19vw ;

}

article.col-4,div.col-4{
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 2vw;
}
